.container {
  display: flex;
  flex-direction: column;
  gap: 12px;

  height: 100%;
  overflow-y: auto;

  padding-right: 6px;
}

/* optional nice scrollbar */
.container::-webkit-scrollbar {
  width: 6px;
}

.container::-webkit-scrollbar-thumb {
  background: rgba(148, 163, 184, 0.3);
  border-radius: 10px;
}

.container::-webkit-scrollbar-thumb:hover {
  background: rgba(148, 163, 184, 0.5);
}